<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletExample</display-name>
  <welcome-file-list>
    <welcome-file>Insert.html</welcome-file>
    <welcome-file>Delete.html</welcome-file>
    <welcome-file>Update.html</welcome-file>
    <welcome-file>Attachment.html</welcome-file>
    <welcome-file>AttachmentA.html</welcome-file>
    <welcome-file>Voter.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>mysql</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.infinite.servlet.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>com.infinite.servlet.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseExample</display-name>
    <servlet-name>ResponseExample</servlet-name>
    <servlet-class>com.infinite.servlet.ResponseExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseExample</servlet-name>
    <url-pattern>/ResponseExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextConfigExample</display-name>
    <servlet-name>ContextConfigExample</servlet-name>
    <servlet-class>com.infinite.servlet.ContextConfigExample</servlet-class>
    <init-param>
      <param-name>Mysql</param-name>
      <param-value>com.mysql.java.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>Oracle</param-name>
      <param-value>com.oracle.java.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextConfigExample</servlet-name>
    <url-pattern>/ContextConfigExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchExample</display-name>
    <servlet-name>SearchExample</servlet-name>
    <servlet-class>com.infinite.servlet.SearchExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchExample</servlet-name>
    <url-pattern>/SearchExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationForm</display-name>
    <servlet-name>RegistrationForm</servlet-name>
    <servlet-class>com.infinite.servlet.RegistrationForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationForm</servlet-name>
    <url-pattern>/RegistrationForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServletExample</display-name>
    <servlet-name>CookieServletExample</servlet-name>
    <servlet-class>com.infinite.servlet.CookieServletExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServletExample</servlet-name>
    <url-pattern>/CookieServletExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionexp</display-name>
    <servlet-name>HttpSessionexp</servlet-name>
    <servlet-class>com.infinite.servlet.HttpSessionexp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionexp</servlet-name>
    <url-pattern>/HttpSessionexp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFile</display-name>
    <servlet-name>InsertFile</servlet-name>
    <servlet-class>com.infinite.servlet.InsertFile</servlet-class>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFile</servlet-name>
    <url-pattern>/InsertFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFile</display-name>
    <servlet-name>DeleteFile</servlet-name>
    <servlet-class>com.infinite.servlet.DeleteFile</servlet-class>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFile</servlet-name>
    <url-pattern>/DeleteFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFile</display-name>
    <servlet-name>UpdateFile</servlet-name>
    <servlet-class>com.infinite.servlet.UpdateFile</servlet-class>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFile</servlet-name>
    <url-pattern>/UpdateFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttachmentFile</display-name>
    <servlet-name>AttachmentFile</servlet-name>
    <servlet-class>com.infinite.servlet.AttachmentFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttachmentFile</servlet-name>
    <url-pattern>/AttachmentFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotetoCheck</display-name>
    <servlet-name>VotetoCheck</servlet-name>
    <servlet-class>com.infinite.servlet.VotetoCheck</servlet-class>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotetoCheck</servlet-name>
    <url-pattern>/VotetoCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assignattach</display-name>
    <servlet-name>Assignattach</servlet-name>
    <servlet-class>com.infinite.servlet.Assignattach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assignattach</servlet-name>
    <url-pattern>/Assignattach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstPage</display-name>
    <servlet-name>FirstPage</servlet-name>
    <servlet-class>com.infinite.walletweb.FirstPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstPage</servlet-name>
    <url-pattern>/FirstPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstAttach</display-name>
    <servlet-name>FirstAttach</servlet-name>
    <servlet-class>com.infinite.walletweb.FirstAttach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstAttach</servlet-name>
    <url-pattern>/FirstAttach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositMon</display-name>
    <servlet-name>DepositMon</servlet-name>
    <servlet-class>com.infinite.walletweb.DepositMon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositMon</servlet-name>
    <url-pattern>/DepositMon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>com.infinite.walletweb.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawAmount</display-name>
    <servlet-name>WithdrawAmount</servlet-name>
    <servlet-class>com.infinite.walletweb.WithdrawAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawAmount</servlet-name>
    <url-pattern>/WithdrawAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBalance</display-name>
    <servlet-name>ShowBalance</servlet-name>
    <servlet-class>com.infinite.walletweb.ShowBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBalance</servlet-name>
    <url-pattern>/ShowBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransferfile</display-name>
    <servlet-name>FundTransferfile</servlet-name>
    <servlet-class>com.infinite.walletweb.FundTransferfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransferfile</servlet-name>
    <url-pattern>/FundTransferfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComparisonDetails</display-name>
    <servlet-name>ComparisonDetails</servlet-name>
    <servlet-class>com.infinite.walletweb.ComparisonDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComparisonDetails</servlet-name>
    <url-pattern>/ComparisonDetails</url-pattern>
  </servlet-mapping>
</web-app>